html {
  background: url('https://images.unsplash.com/photo-1445251836269-d158eaa028a6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7c592fea2deb4ca7994a284bc4e81c03') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

h3 {
  margin: 0 0 20px 0;
  font-weight: 200;
  text-transform: uppercase;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

  .row {
    display: flex;
    align-items: flex-start;
  }

  .list {
    box-shadow: 0px 0px 20px -4px #3b3b3b;
    background-color: #fff;
    border-radius: 2px;
    width: 1000px;
    margin: 0 10px;
    padding: 20px;
    position: relative;
  }

    .list-placeholder {
      box-shadow: 0px 0px 20px -4px #3b3b3b;
      background-color: #ddd;
      border-radius: 2px;
      width: 800px;
      height: 246px;
      margin: 0 10px;
      padding: 20px;
      position: relative;
    }

    .delete-list {
      position: absolute;
      top: 22px;
      right: 20px;
      cursor: pointer;
      color: #eee;
      font-size: 20px;
      line-height: 20px;
    }

      .delete-list:hover {
        color: red;
      }

  .card {
    padding: 5px 10px;
    color: #565656;
    margin: 10px 0;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    cursor: -webkit-grab;
  }

    .card:hover {
      background-color: #eee;
    }

    .card-placeholder {
      height: 30px;
      background-color: #ddd;
      margin: 10px 0;
      border: 1px solid #cbcbcb;
      border-radius: 4px;
      cursor: -webkit-grab;
    }
